  
  <!--  
  
  <p>table works!</p>

<br><br><br>

<div class="w-75 m-auto d-flex justify-content-between">
  <input type="text" class="form-control mb-3 w-25" placeholder="Filter by name"
   [(ngModel)]="filterName" (input)="applyFilters()">
 
 
  <input type="number" class="form-control mb-3 w-25" placeholder="Filter by transaction amount" [(ngModel)]="filterAmount" (input)="applyFilters()">
</div>








<table class="table table-dark table-striped w-75 m-auto">
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Name</th>
    
      <th>Transactions</th>
    </tr>
  </thead>
  <tbody *ngIf="filteredCustomers.length>=0">
    <tr *ngFor="let customer of  filteredCustomers" >
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>
        <ul>

<ng-container *ngFor="let transaction of getFilteredCustomerTransactions(customer.id)">
 
  <li >
    {{ transaction.date }} - ${{ transaction.amount }}
  </li>

</ng-container>
<button (click)="displayChats(getFilteredCustomerTransactions(customer.id))">charts</button>





        </ul>
      </td>
    </tr>
    
  </tbody>

  <section *ngIf="filteredCustomers.length==0" class="w-75 m-auto">
    <img src=".../../../../assets/no-data.avif" alt="">
  </section>
</table>











  <section *ngIf="filteredCustomers.length>=0" class="w-75 m-auto py-3">
    <div class="w-75 m-auto">
      <canvas class="" id="canvas">
        {{chart}}</canvas>
    </div> 
  </section>



-->

<!-- ================================ -->










<!-- =============================================== -->


  <p>table works!</p>


<section class="container-fluid ">
<section class="row justify-content-between">
<div class="col-8">
  <section class="is-table">

 
  
    <div class="w-75 m-auto d-flex justify-content-between">
      <input type="text" class="form-control mb-3 w-25" placeholder="Filter by name"
       [(ngModel)]="filterName" (input)="applyFilters()">
     
     
      <input type="number" class="form-control mb-3 w-25" placeholder="Filter by transaction amount" [(ngModel)]="filterAmount" (input)="applyFilters()">
    </div>
    
    
    
    
    
    
    
    
    <table class="table table-dark table-striped ">
      <thead>
        <tr>
          <th>Customer ID</th>
          <th>Name</th>
        
          <th>Transactions</th>
        </tr>
      </thead>
      <tbody *ngIf="filteredCustomers.length>=0">
        <tr *ngFor="let customer of  filteredCustomers" >
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>
            <ul>
    
    <ng-container *ngFor="let transaction of getFilteredCustomerTransactions(customer.id)">
     
      <li >
        {{ transaction.date }} - ${{ transaction.amount }}
      </li>
    
    </ng-container>
    <button (click)="displayChats(getFilteredCustomerTransactions(customer.id))">charts</button>
    
    
    
    
    
            </ul>
          </td>
        </tr>
        
      </tbody>
    
      <section *ngIf="filteredCustomers.length==0" class="w-75 m-auto">
        <img src=".../../../../assets/no-data.avif" alt="">
      </section>
    </table>
    
    
    
    
  </section>
</div>
<div class="col-4  d-flex justify-content-center align-items-center">
  <section *ngIf="filteredCustomers.length>=0" class=" m-auto py-3">
    <div class=" m-auto">
      <canvas class="" id="canvas">
        {{chart}}</canvas>
    </div> 
  </section>


</div>


</section>


</section>


 
  
  
  
  




















<!-- ------------------------- -->



